body {
    font-family: 'IBM Plex Sans', sans-serif;
}
.my-resume {
        margin-bottom: 50px;
}
.bg-p {
    background-color: #54b689;
    color: white;
}

.bg-p:hover {
    background-color: #61bb91;
    color: white;
}
.resume-profile {
    padding-top: 15px;
    background-color: #54b689;
    color: white;
    position: fixed;
    z-index: 55;
    height: 100vh;
}
.resume-info {
    padding-top: 25px;
}
.resume-info-section {
padding-bottom: 50px;
}
.resume-info-section > h2 {
     margin: 0px 0px 10px 0px;
}
.resume-info-section-block {
    display: table;
}
.list-unstyled.tag-list > li  {
    float: left;
    background: #efefef;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #000;
}
*{
    scroll-behavior: smooth !important;
}

.list-inline-item svg path {
    fill: white;
}
.list-group-c li a {
    color: white;
}

.left-border-header {
    border-left: 5px solid #54b689;
    padding-left: 15px;
    margin-bottom: 20px;
}

.rns-logo {

}
.border-radius-none {
    border-radius: 0px;
}