html {
  position: relative;
  min-height: 100%;
}
#investedamount1 span.unit-amount,
#investedamount2 span.unit-amount {
    font-size: 16px;
    padding-right: 0px;
}

.app-logo {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.wrapper-body {
    padding:0px 25px 60px 25px;
    width: 100%;
    overflow: hidden;
}

.content-body-wrapper {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 15px;
  margin: 15px;
}

.sidebar.col-md-2 {
padding: 0px;
border-right: 1px solid #ddd;
height: 92vh;
}

.form-control {
  border: 1px solid #b1b1b1 !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.st {
  margin: 10px 0px;
}

.btn {
  cursor: pointer;
}

span {
  color: #ef6666;
}

bold {
  font-weight: bold;
}
input[type="number"] {
  text-align: right;
}

#investedamount1,#investedamount2 {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
color: green;
border-top: 1px solid;
padding-top: 10px;
font-size: 14px;
}
#investedamount1 span,#investedamount2 span {
padding-right: 12px;
font-size: 11px;
color: green;
}
 #result {
   margin-top: 15px;
 }
#result span {
  padding-right: 12px;
font-size: 14px;
color: green;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 53px;
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 13px;
}
.top-menu ul {
  padding: 0px;
  margin-bottom: 20px;
}
.top-menu ul li {
  display: inline-block;
  cursor: pointer;
  padding: 10px 5px 10px 15px;
  margin: 10px 0px 0px 0px;
  width: 100%;
}

.top-menu ul li a {
  color: #000;
}

.top-menu ul li:hover {
  color: #5cb85c;
}

.top-menu ul li.active {
  color: #FFF;
  background: #038edc;
}

.top-menu ul li.active a {
  color: #3b863b;
}

.top-menu ul li.active a:focus,
.top-menu ul li.active a:hover, 
.top-menu ul li a:focus,
.top-menu ul li a:hover  {
  text-decoration: none;
}

#average-calculator.active,
#sip-calculator.active,
#percentage-calculator.active,
#emi-calculator.active {
  display: block;
}

#average-calculator.hide,
#sip-calculator.hide,
#percentage-calculator.hide,
#emi-calculator.hide {
  display: none;
}

#clock {
  font-size: 24px;
  color: #000;
  position: absolute;
  right: 3%;
  top: 3.5%;
}

.headers {
  color: #112632;
  font-size: 24px;
}

.results span {
    float: right;
}

#sip-result-wrapper {
    margin: 10px 0px;
}

.r-sip {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0px;
}

.results span { 
    color: #00360c;
    font-weight: 600;
}

.display-mobile-ad {
  text-align: center;
  margin: 10px auto;
}

.ans-btn {
  margin-top: 12px;
}
.banner-ad-desktop a , .display-mobile-ad a {
  font-weight: 600;
  text-decoration: underline;
}

.hidden-on-desktop-tablet {
  display: none;
}

@media all and (-maxwidth: 600px) and (orientation:landscape) 
{
  .display-mobile-ad {
    display: block !important;
  }

}

@media only screen and (min-width: 768px) {
  /* Tablets and larger screens */
  .hidden-on-desktop-tablet {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  /* Desktops and larger screens */
  .hidden-on-desktop-tablet {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #investedamount1, #investedamount2 {
    float: right;
  }
  .hidden-on-desktop-tablet {
    display: block;
  }
  .wrapper-body {
    padding-top: 10px;
  }
  .top-menu ul li {
    margin-top: 5px;
  }
    .headers {
        color: #8a9b7c;
        margin-top: 10px;
        font-size: 20px;
    }
    .percentage-wrapper  .percentage-input  {
      width: 55% !important;
      text-align: center;
      margin: 10px auto;
      display: block !important;
    }
    #percentage-result-wrapper {
      margin: 10px 0px;
      background: #f5f5f7;
      font-weight: bold;
      padding: 26px 0px;
    }
    .percentage-wrapper {
      text-align: center;
      display: block !important;
    }
    .banner-ad-desktop {
      display: none;
    }
    .ans-btn-wrapper {
      text-align: center;
    }
    .sidebar.col-md-2 {
      height: 92vh;
      position: absolute;
      background: #eceff0;
      color: #000;
      z-index: 1;
      top: 40px;
      left: -500px;
      transition: left 0.5s ease-in-out;
      width: 62%;
      font-size: 13px;
      border-radius: 0px 5px 5px 0px;
    }
    #clock {
      display: none;
    }
    .app-logo {
      display: none;
    }
    #mobile-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    .mobile-app-logo {
      font-size: 18px;
      padding: 5px 21px 0px 50px;
      margin: 0px;
    }
    #toggle-btn {
      padding: 0px 15px;
    font-size: 18px;
    }
}

/******************************************************/
.percentage-wrapper {
  display: inline-block;
}
.percentage-wrapper  .percentage-input {
  display: inline-block;
  width: 150px;
}
#percentage-result-wrapper {
  font-weight: bold;
  background: #f5f5f7;
  padding: 15px 15px;
  margin: 10px;
}
#buttonInstall {
  display: block;
  border: 1px solid #449d44;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  color: white;
  background: black;
}

     /********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #e9e9eb;
  border-radius: 0.5rem;
  height: 0.2rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #5cb85c;
  height: 1rem;
  width: 1rem;
  border-radius: 25px;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 /* border: 1px solid #053a5f;
 outline: 3px solid #053a5f; */
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}